body {
	color: #222222;
	line-height: 120%;
	width: 100%;
	margin: auto;
}

.content {
	
}

.name {
	width: 100%;
	margin-top: 5%;
}

.name-key {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #2F6484;
	height: 40px;
	line-height: 40px;
	color: white;
}

.name-value {
	
}

.name-value input {
	width: 95%;
	height: 30px;
	border-radius: 5px;
	border-width: 0.1px;
	color: gray;
}

.upload {
	width: 250px;
	background-color: #E8E9EC;
	margin-top: 2%;
	margin-bottom: 5%;
	border-width: 2px;
	border-color: #0087F7;
	border-style: dashed;
	float: left;
	margin-left: 5px;
}

.upload1 {
	width: 250px;
	background-color: #E8E9EC;
	margin-top: 2%;
	margin-bottom: 5%;
	border-width: 2px;
	border-color: #0087F7;
	border-style: dashed;
	margin-left: 5px;
}

.upload-tip {
	width: 100%;
	height: 100%;
	text-align: center;
	color: rgb(100, 108, 127);
}

.upload-tip1 {
	margin-top: 10%;
}

.banner-add-submit {
	background-color: rgb(49, 92, 124);
	border-color: transparent;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	margin-right: 5%;
	margin-left: 84%;
	margin-top: 2%;
}

.search {
	width: 50%;
	float: left;
}

.search-img {
	height: 35px;
}

.textarea {
	color: black;
	width: 95%;
	height: 200px;
}

.img-frame {
	width: 90%;
}

.user-select {
	width: 48%;
	height: 45px;
	border-radius: 5px;
	border-color: #ff001b;
	border-width: 1px;
	border-style: dashed;
}